<div class="well well-small">
  <%= render partial: 'shared/drop_down_menu', locals: {menu: positions_dropdown_menu} %>
  <%= render partial: 'shared/drop_down_menu', locals: {menu: availability_dropdown_menu} %>
  <%= render partial: 'shared/drop_down_menu', locals: {menu: team_dropdown_menu} %>
</div>