<div class="row-fluid thumbnail"> \
    <div class="span3"> \
      <img class="img-polaroid" src="{{headshot}}" /> \
    </div> \
    <div class="row-fluid span8"> \
      <div class="span3 logo logo-small logo-nfl-small nfl-small-{{team}} offset1" style="height: 30px"></div> \
      <strong class="span6">{{value}}</strong> \
    </div> \
</div>