<tr>
  <td class="span4">
    <h5 class="text-center">
      <%= stat.call(comparison.player(1)) %>
    </h5>
  </td>
  <td class="span4">
    <h6 class="text-center">
      <%= name %>
    </h6>
  </td>
  <td class="span4">
    <h5 class="text-center">
      <%= stat.call(comparison.player(2)) %>
    </h5>
  </td>
</tr>