<div class="page-header">
  <h1><%=t '.title', :default => @player.full_name %></h1>
  <div class="row-fluid">
    <div class="span4"><%= player_profile(@player) %></div>
    <div class="span8">&nbsp;</div>
  </div>
</div>

<div class="row">
  <%= high_chart("chart", @chart) %>
</div>