<tr>
  <td class="span4">
    <%= player_profile(player_point_total.cached_player, player_points_path(player_point_total.cached_player)) %>
  </td>
  <td class="span8"><%= player_points_status(player_point_total.total) %></td>
</tr>