<div class="page-header">
  <h1><%= link_to(t('.title', :default => "Carries"), url_for()) %> <small>week <%= @week %></small></h1>
</div>

<%= weeks_in_season(@week) %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Player</th>
      <th>Carries</th>
      <th>Successful Runs</th>
      <th>Rushing Yards</th>
      <th>Rushing TDs</th>
      <th>Receiving TDs</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'carry_performance', collection: @offensive_performances, cache: ->(t) { partial_cache_key("carry-performance-#{t.uid}") } %>
  </tbody>
</table>