<div class="page-header">
  <h1><%= link_to(t('.title', :default => "Points"), url_for()) %> <small>week <%= @week %></small></h1>
</div>
<!-- <div class="dropdown">
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div> -->

<%= weeks_in_season(@week) %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Player</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'player_point_total', collection: @player_point_totals, cache: ->(p) { partial_cache_key("player-point-total", p) }%>
  </tbody>
</table>
