<div class="page-header">
  <h1><%= link_to(t('.title', :default => "Watch list"), url_for()) %></h1>
</div>

<%= dropdown_menu_filters %>
<table class="table table-bordered">
  <tbody>
    <%= render partial: 'watched_player', collection: @watches, cache: ->(w) { partial_cache_key("watched-player", w) } %>
  </tbody>
</table>