<div class="page-header">
  <h1><%= link_to(t('.title', :default => "Projections"), url_for()) %> <small>week <%= @week %></small></h1>
</div>
<%= weeks_in_season(@week) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>High</th>
      <th>Standard</th>
      <th>Low</th>
    </tr>
  </thead>
  <tbody class="row-fluid">
    <% cache ['projections-table', collection_cache_key(@projections, :week) ] do %>
      <%= render partial: 'projection', collection: @projections, cache: ->(p) { partial_cache_key("projection", p) } %>
    <% end %>
  </tbody>
</table>
